<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info">
    <div class="row row text-center info header">
      <h3>Request an Item</h3>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-centered">
        <h4>Select a product</h4>
        <select class="dropdown-product" id="product">
          <option ng-repeat="product in products" value="{{product.id}}">
            {{product.company}} {{product.name}} ({{product.version}})
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-centered" ng-show="metaInfo.visible">Currently {{metaInfo.count}} item(s) in the inventory. <button class="btn btn-default" ng-click="requestItem(requestId)" ng-show="requestButton">Request item</button></div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-centered" ng-show="metaInfo.visible">{{message}}</div>
    </div>
  </div>
</div>
