<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info">
    <div class="row">
      <h3>Request an Item</h3>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <select class="dropdown-product" id="product">
          <option ng-repeat="product in products" value="{{product.id}}">
            {{product.company}} {{product.name}} ({{product.version}})
          </option>
        </select>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-show="metaInfo.visible">There are {{metaInfo.count}} items in the inventory. <button ng-click="requestItem(requestId)" ng-show="requestButton">{{requestText}}</button></div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-show="metaInfo.visible">{{message}}</div>
    </div>
  </div>
</div>
