<nav class="navbar navbar-default" ng-controller="navController">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <img class="brand-navbar" src="./dist/images/practo_logo.svg" />
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" ng-show="session.authenticated">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span>{{session.name}}</span>
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" ng-if="!session.admin">
          <li><a href="#/dashboard">Request an item</a></li>
          <li><a href="#/userRequests">Request Status</a></li>
          <li><a href="#/profile">Profile</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" ng-click="logout()">Logout</a></li>
        </ul>
        <ul class="dropdown-menu" ng-if="session.admin">
          <li><a href="#/admin">Issue an item</a></li>
          <li><a href="#/returns">Return an item</a></li>
          <li><a href="#/incoming/requests">Incoming Requests</a></li>
          <li><a href="#/products">Products</a></li>
          <li><a href="#/items">Items</a></li>
          <li><a href="#/profile">Profile</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#/dashboard">Request an item</a></li>
          <li><a href="#/userRequests">Request Status</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" ng-click="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
