<div class="row text-center info header">
  <h1>Raised Requests</h1>
</div>
<div class="row info">
  <input type="text" class="form-control" id="filterTable" name="filterTable" ng-model="search.$" placeholder="Type to filter table"> 
</div>
<div class="row">
  <table id="userRequestTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Product</th>
        <th>Version</th>
        <th>Reply</th>
        <th><a href="#/raiseRequests" type="button" class="btn btn-primary">Raise a request</a></th>
      </tr>
    </thead>
    <tr ng-repeat="request in data | filter:search:strict">
      <td>{{request.id}}</td>
      <td>{{request.productCompany}}</td>
      <td>{{request.productName}}</td>
      <td>{{request.version}}</td>
      <td>{{request.reply}}</td>
      <td></td>
    </tr>
  </table>
</div>
