.col-centered {
  float: none;
  margin: 0 auto;
}

.small-margin {
  margin: 0px 10px 20px;
}

.img-reduced {
  width: 150px;
}

.brand-navbar {
  width: 100px;
}

.info {
  padding: 30px;
}

.header {
  background-image: url("../images/pattern.jpg");
  color: #FFF;
}

.grid--borderBetween > [class*='col-']:before,
.grid--borderBetween > [class*='col-']:after {
  background: #b2b2b2;
  bottom: 0;
  content: " ";
  position: absolute;
  width: 1px;
  top: 0;
}

.grid--borderBetween > [class*='col-']:before {
  left: 0;
}

.grid--borderBetween > [class*='col-']:after {
  right: -1px;
}

.grid--borderBetween > [class*='col-']:first-child:before,
.grid--borderBetween > [class*='col-']:last-child:after {
  display: none;
}


/*  Google Sign In Styles */

.abcRioButton {
  box-shadow: 0px 0px 20px 10px #e5e5e5;
  background-color: #FFF;
  border: none;
}
